.mainDiv {
    display: grid;
    width: 100%;
    height: 448px;
    grid-template-columns:513px 1fr;
    column-gap: 59px;
}
.section {
    border-radius: 18px;
    background-color: #1E1E1E;
}

.infoSection {
    order: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: darkgray;
    border-radius: 18px;
}


.tgSection {
    order: 1;
    grid-column: 1/3;
    grid-row: 1/2;

}

.screenshotSection {
    order: 2;
    grid-column: 1/2;
    grid-row: 2/3;
}




.secondary {
    display: grid;
    grid-template-rows:147px 266px;
    grid-template-columns: 316px 316px;
    column-gap: 41px;
    row-gap: 35px;
    width: 673px;

}







.root{
    width: 1440px;
}
.footer{
    width: 100%;
    height: 244px;
    border: none;
    top: 2390px;
    display: flex;
    justify-content: center;
}

.divForUse{
    width: 352px;
}

/*organize css + rename css classes*/